{% load static %}
<nav>
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a> {% if user.username %}
        <h2>Hey {{ user.first_name }}</h2>
        you are logged as : <strong>{{ user.username }}</strong>
        <br>
        <a href="{% url 'logout' %}">Logout</a> {% else %}
        <br>
        <a class="btn menu-item" href="{% url 'login' %}">Login</a>
        <a class="btn menu-item" href="{% url 'signup' %}">Sign Up</a>
        <hr>
        <a class="menu-item" href="#">About</a>
        <a class="menu-item" href="#">Services</a>
        <a class="menu-item" href="#">Clients</a>
        <a class="menu-item" href="#">Contact</a> {% endif %}
    </div>
</nav>